html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
    width: 100%;
    min-width: $min-width;
    margin: 0;
    padding: 0;
    font-family: $CenturyGothic-regular;
    color: $color-white; 
    background-color: $color-white;
}

body {
    line-height: 1.5;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    height: auto;
    max-width: 100%;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

ul {
    @include list-reset;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

a {
    text-decoration: none;
}

input[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    position: relative;
    flex: 1 0 auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $container-width;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    @include breakpoint($tablet-width) {

    }

    @include breakpoint($mobile-width) {
   
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (max-width: 767px) {
    .is-hidden-mobile {
        display: none;
    }
}

@media (min-width: 768px) {
    .visible-mobile {
        display: none;
    }
}

.bg-cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    margin: 0;
    text-align: center;
    font-size: 3rem;
    line-height: 2;
    color: #383838;
    position: relative;

    @include breakpoint($mobile-width) {
        font-size: 2.4rem;
    }

    &::before{
        position: absolute;
        left: 0;
        right: 0; 
        bottom: 0;
        margin: 0 auto;
        content: '';
        height: 1px;
        width: 200px;
        background-color: $color-orange;
    }
}

.btn {
    @include button-standart;
}