@mixin breakpoint($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin min-breakpoint($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
@mixin list-reset {
    margin: 0;
    padding: 0;
}
@mixin button-standart {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    outline: transparent;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

@mixin fontFace($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.woff2') format('woff2'),
             url('#{$src}.woff') format('woff'),
             url('#{$src}.ttf') format('ttf');
        font-style: $style;
        font-weight: $weight;
        font-display: swap;
    }
}