@import "vars";
@import "mixins";
@import "fonts";
@import "global";

// header start
.header {
    background-image: url("../images/header-bg.jpg");
    min-height: 100vh;
    padding: 4rem 0 21rem 0;
    @include breakpoint (569px) {
        padding-bottom: 38rem;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($mobile-width) {
        width: 100%;
        padding: 0 1.5rem;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 20;
        background-color: $color-harley-davidson-orange;
    }

    &__list {
        list-style: none;

        @include breakpoint($mobile-width) {
            display: none;
            width: 100%;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 20;
        }

        @include min-breakpoint($min-mobile-width) {
            display: flex !important;
        }
    }

    &__list-item {
        display: flex;
        & + & {
            margin-left: 2.8rem;

            @include breakpoint($tablet-width) {
                margin-left: 1.5rem;
            }

            @include breakpoint($mobile-width) {
                margin-left: 0;
            }
        }
    }

    &__list-link {
        padding: 1.1rem 2.1rem;
        border: 1px solid transparent;
        border-radius: 1.7rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.4rem;
        color: $color-white;
        transition: all 0.3s ease-in-out;

        @include breakpoint($tablet-width) {
            padding-left: 1.1rem;
            padding-right: 1.1rem;
        }

        @include breakpoint($mobile-width) {
            width: 100%;
            border-radius: 0;
            text-align: center;
            background-color:$color-orange;
        }

        &:hover {
            border-color: $color-white;
        }
    }
}

.logo {
    padding: 1.8rem 3.6rem;
    border-radius: 9px;
    background-color: $color-orange;

    @include breakpoint($tablet-width) {
        padding: 1.4rem 2.4rem;
    }

    @include breakpoint($mobile-width) {
        background-color: transparent;
    }

    &__slogan {
        font-family: $Roboto-black;
        font-size: 3.3rem;
        text-transform: uppercase;

        @include breakpoint($tablet-width) {
            font-size: 2rem;
        }
    }
}

.btn-burger-menu {
    display: none;
    font-size: 2.5rem;
    padding: 0.8rem;
    border-radius: 50%;
    color: $color-harley-davidson-orange;
    background: $color-white;

    @include breakpoint($mobile-width) {
        display: block;
    }

    &:hover {
        color: $color-orange;
    }

}

.header__content {
    padding: 15rem 0;
    @include breakpoint(569px) {
        padding-top: 10rem;
    }

}

.header__title {
    margin: 0 0 7.5rem 0;
    font-family: $Impact-regular;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 1px rgb(150, 78, 78);

    @include breakpoint($mobile-width) {
        font-size: 3rem;
    }
}

.header__tour-link-wrapper {
    display: flex;
    justify-content: center;
}

.header__tour-link {
    max-width: 35.6rem;
    width: 100%;
    padding: 1.7rem 0;
    border-radius: 36px;
    font-family: $CenturyGothic-semiBold;
    font-size: 2.8rem;
    text-align: center;
    color: $color-white;
    background-color: $color-orange;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 30px 0px $color-orange;
    }
}
// header end
// travels start
.travels {
    padding-bottom: 4rem;

    &__title {
        margin: 3rem 0;
    }

    &__title::before {
        display: none;
    }

    &__title-text {
        padding-right: 4rem;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            right: 0rem;
            width: 2.5rem;
            height: 3.5rem;
            background-image: url("../images/travels-title-icon.png");
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;

        @include breakpoint($tablet-width) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.travels-item {
    position: relative;

    &__img {
        display: block;
        width: 100%;
        max-height: 28rem;
        object-fit: cover;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

    &__inner {
        padding: 3.3rem;
        border: 1px solid $color-gainsboro;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 1.8rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        color: $color-eclipse;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $color-orange;
        }
    }

    &__advantages {
        margin-top: 3.5rem;
        font-family: $CenturyGothic-regular;
        font-size: 1.6rem;
        color: $color-black;
    }

    &__advantages-item {
        display: flex;
        align-items: center;
        position: relative;

        & + & {
            margin-top: 1.6rem;
        }
    }

    &__advantages-item-icon {
        margin-right: 1.7rem;
    }

    &__price {
        width: 10.1rem;
        height: 6.4rem;
        padding-top: 2rem;
        padding-left: 1.8rem;
        border-radius: 100% 0 9px 100% / 100% 100% 9px 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.6rem;
        line-height: 1.2;
        text-align: center;
        color: $color-white;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color-outrageous-orange;
    }

    &__price-info {
        font-family: $CenturyGothic-regular;
        font-size: 1.1rem;
    }
}
/* travel-filter otpusk begin*/
.new_os, 
.new_f-container *, .new_f-container *::before,
.new_f-container *::after,
.new_spinner-wrap *,
.new_spinner-wrap *::before,
.new_spinner-wrap *::after,
.new_r-container *,
.new_r-container *::before,
.new_r-container *::after,
.new_t-container *,
.new_t-container *::before,
.new_t-container *::after {
    font-family: $CenturyGothic-regular !important;
}

.new_os {
    margin-top: -15.6rem;
    @include breakpoint (940px) {
        margin-top: -27.8rem;
    }
    @include breakpoint (569px) {
        margin-top: -42.9rem;
    }
}

.new_results-map-body,
.new_mobile-form .new_f-ext-body,
.new_f-dates-container#new_f-dates-container .dp-container,
.new_t-tab-content-body,
.new_t-modal-body-middle,
.new_t-modal-body-item,
.new_f-dropdown-list {
    @include breakpoint (478px) {
        top: 5.8rem;
    }
}

.new_t-tab-content-close,
.new_t-modal-body-close,
.new_f-dropdown-body-close {
    line-height: 1;
}

.new_r-filters-title {
    @include breakpoint (478px) {
        background-color: $color-orange;
    }
}

.new_mobile-form .new_f-container {
    max-width: 100%;
}

.new_os .owl-carousel.owl-drag .owl-item, .new_r-container .owl-carousel.owl-drag .owl-item, .new_t-container .owl-carousel.owl-drag .owl-item {
    padding: 0 1rem;
}

.new_t-similar-viewed-gallery .owl-item, .new_t-similar-viewed-gallery .owl-stage {
    height: 100%;
}

.new_t-container .new_t-similar-viewed-gallery {
    padding: 0;
}

.new_t-container .new_t-similar-viewed-gallery .owl-stage-outer {
    padding: 0;
}

#ctyList .new_f-dropdown-btn-apply {
    background-color: $color-orange;
}

.new_f-people-item {
    transition: all .3s ease-in-out;
}

.new_f-people-item.active {
background-color: $color-orange;
}

.new_f-ext-container .ui-slider-range, .new_f-ext-container .slider-container .ui-widget-content, .new_f-container {
    background: $color-orange;
}

.new_f-dropdown-btn .cnt::after, .new_f-dropdown-btn::after {
    border-color: $color-orange transparent transparent;
}

.new_r-show-more-results {
    border: none;
    color: $color-white;
    background-color: $color-orange;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: $color-orange;
        box-shadow: rgb(248, 103, 56) 0px 0px 30px 0px;
    }
}

.new_f-search-dates-wrap svg {
    fill: $color-orange;
}

.new_f-ext-bl-title {
    color: $color-dim-gray;
}

.new_f-label-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-dim-gray;
}

.new_f-ext-container .ui-slider .ui-slider-handle {
    border-color: $color-orange;
}

.new_r-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    margin: 0;
    overflow: initial;
    padding: 0;
    @include breakpoint ($tablet-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint ($mobile-width) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.new_res-price-down .new_r-item {
    height: 100%;
}

.new_res-two-col .new_r-item-wrap {
    width: 100%;
    float: none; 
    margin-bottom: 0; 
    padding: 0;
}

.new_r-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.new_r-item:hover .new_r-item-body {
    border-color: $color-orange;
}

.new_r-item:hover .new_r-item-price {
    color: $color-orange;
}

.new_r-item:hover .new_r-item-price::after {
    display: none;
}

.new_r-filters-reset {
    color: $color-orange;
}

.new_r-item-img {
    width: 100%;
    height: 25rem;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    position: static;
    z-index: 1;
}

.new_r-item-body {
    flex: 1 0 auto;
    width: 100%;
    height: auto;
    float: none;
    margin-top: -0.3rem;
    padding: 3.3rem;
    border: 1px solid $color-gainsboro;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    transition: all .3s ease-in-out;
    @include breakpoint ($mobile-width) {
        padding: 2.3rem;
    }
}

.new_res-price-down .new_r-item-body {
    width: 100%;
}

.new_r-item-hotel, 
.new_r-item-info,
.new_r-item-geo {
    white-space: initial;
}

.new_r-item-hotel {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: $CenturyGothic-semiBold !important;
    font-size: 2rem;
    font-weight: 400;
    color: $color-eclipse;
}
.new_res-price-down .new_r-item-hotel {
    font-size: 2rem;
    padding: 0;
}

.new_r-item .new_r-item-geo {
    display: none;
}

.new_r-item .new_r-item-table {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-top: 1.6rem;
}

.new_r-item-col:first-child {
    display: block;
    padding: 0;
}

.new_r-item-from,
.new_r-item-date {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    padding: 0;
    font-size: 1.6rem;
    color: $color-black;
    @include breakpoint ($mobile-width) {
        margin-top: 0.5rem;
    }
}
.new_r-item-icon {
    position: static;
    margin-right: 0.7rem;
    fill: $color-orange;
}

.new_r-item-from {
    padding-bottom: 0;
}

.new_r-item .new_r-item-price {
    padding-top: 2rem;
    padding-left: 1.8rem;
    border-radius: 100% 0 9px 100% / 100% 100% 9px 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-color: $color-orange;
    background-color: $color-orange;
    transition: all .3s ease-in-out;
}

.new_price-desc {
    margin: 0;
    font-size: 1.1rem;
}

.new_r-item-info {
    padding: 0;
}

.new_r-item .new_r-item-stars {
    order: 2;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    @include breakpoint ($mobile-width) {
        margin-top: 1rem;
    }
}

.new_r-item .new_r-item-star {
    width: 2rem;
    height: 2rem;
    fill: rgb(255, 234, 0);
}

.new_r-item-star + .new_r-item-star {
    margin-left: 0.5rem;
}

.new_f-ext-clear-btn {
    color: $color-dim-gray;
}

[class*='new_f-'] input[type="radio"]:checked + ::before, .new_f-ext-col-recommend input[type="checkbox"]:checked + ::before {
    border-color: $color-orange !important;
    background: $color-orange;
}

.new_t-header-title {
    margin-bottom: 1.5rem;
}

.new_t-menu-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint ($mobile-width) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.new_t-menu-back-link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-dim-gray;
    transition: all .3s ease-in-out;
    @include breakpoint ($mobile-width) {
        width: 100% !important;
        margin-bottom: 1rem;
    }
}

.new_t-menu-back-link:hover {
    color: $color-orange;
    text-decoration: none;
}

.new_t-menu-back-link span {
    margin-right: 0.7rem;
}

.new_r-currency-switch {
    position: static;
}

.new_t-menu-item {
    color: $color-dim-gray;
}

.new_t-menu-item.selected {
    background: $color-orange;
}

.new_t-menu-item.selected::after {
    border-color: $color-orange transparent transparent transparent;
}

.new_t-menu-wrap::after {
    background: $color-orange;
}

.new_t-order-table {
    font-weight: 500;
    color: $color-dim-gray;
}

.new_t-order-price span {
    color: $color-orange;
}

.new_t-order-btn {
    background: $color-orange;
    transition: all .3s ease-in-out;
}

.new_t-order-btn:hover {
    box-shadow: 0px 0px 30px 0px $color-orange;
}

.new_f-dropdown-body-top {
    background-color: $color-orange;
}

.new_f-children-age-item {
    transition: all .3s ease-in-out;
}

.new_f-children-age-item:hover {
    background: $color-orange;
}

.new_t-header-geo svg {
    fill: $color-orange;
}

.new_t-tour-tab-col-2 .new_t-important {
    color: $color-orange;
}

.new_t-tab-content-top, 
.new_t-modal-body-top, 
.new_f-dropdown-body-top {
    background: $color-orange;
}

.new_t-date_link, .new_t-date_link * {
    color: $color-orange;
}

.new_t-modal-room-title {
    color: $color-orange;
}

.food .new_t-modal-table .new_t-room-price.selected {
    background-color: $color-orange !important;
}

.new_serv-cols a {
    color: $color-orange;
}

.new_t-order-return {
    border-color: $color-orange;
    color: $color-orange;
}

.new_t-order-return svg {
    fill: $color-orange;
}

.new_t-tour-tab-col .new_t-change-btn {
    color: $color-orange;
}

.new_t-change-btn svg {
    fill: $color-orange;
}

.grayInner1.s-lg.v2 {
    height: 100% !important;
}

.new_t-similar-viewed-wrapper .owl-next,
.new_t-similar-viewed-wrapper .owl-prev {
    top: 50%;
    transform: translateY(-50%) scale(-1, 1);
}

/* travel-filter otpusk end*/

// travels end

// services start
.services {
    padding: 4rem 0 4rem;
}

.services-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 5.4rem 0;
    @include breakpoint($tablet-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($mobile-width) {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24.9rem;
    background-color: rgba(0, 0, 0, 0.471);
    background-blend-mode: darken;
    transition: all 0.3s ease-in-out;

    &.services-item--flights {
        background-image: url("../images/services-item1.jpg");
    }

    &.services-item--insurance {
        background-image: url("../images/services-item2.jpg");
    }

    &.services-item--travelSIM {
        background-image: url("../images/services-item3.jpg");
    }

    &.services-item--visaSupport {
        background-image: url("../images/services-item4.jpg");
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        color: $color-white;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-color: transparent;

        .services-item__title {
            color: $color-orange;
        }
    }
}

// services end
// feedback start
.feedback {
    padding: 6rem 0 7rem;
    background-color: $color-orange;

    @include breakpoint($mobile-width) {
        padding: 4rem 0 5rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 3rem;
        text-align: center;

        @include breakpoint($mobile-width) {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    }

    &__subtitle-text {
        margin-top: 0;
        margin-bottom: 4.5rem;
        font-size: 2rem;
        text-align: center;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.5rem;
            font-size: 1.6rem;
        }
    }
}

.feedback-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    border-radius: 9px;
    background-color: $color-white;

    @include breakpoint($tablet-width) {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @include breakpoint($mobile-width) {
        padding: 2rem;
    }

    &__name,
    &__phone {
        width: 27%;
        position: relative;

        @include breakpoint($tablet-width) {
            width: 40%;
            margin-bottom: 2rem;
        }

        @include breakpoint($mobile-width) {
            width: 100%;
        }

        &::before {
            width: 5.6rem;
            height: 5.6rem;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-gainsboro-light;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__name::before {
        background-image: url("../images/feedback-icon-human.png");
    }

    &__phone::before {
        background-image: url("../images/feedback-icon-phone.png");
    }

    &__input {
        width: 100%;
        padding: 1.2rem 2.2rem 1.2rem 7.6rem;
        border: 1px solid $color-gainsboro;
        border-radius: 4px;
        font-size: 1.6rem;
        line-height: 3rem;
        color: $color-charcoal;
        outline: transparent;
    }
}

.feedback-form-btn {
    width: 27%;
    padding: 1.8rem;
    border-radius: 31px;
    font-family: $CenturyGothic-semiBold;
    font-size: 2rem;
    line-height: 1;
    color: $color-white;
    background-color: $color-orange;

    @include breakpoint($tablet-width) {
        max-width: 29rem;
        width: 100%;
    }

    @include breakpoint($mobile-width) {
        max-width: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 15px 0px $color-orange;
    }
}
// feedback end
// directions start
.directions {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include breakpoint($mobile-width) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
        margin-top: 6rem;

        @include breakpoint($tablet-width) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 3rem;
        }
    }
}

.directions-item {
    font-family: $CenturyGothic-regular;
    color: $color-mortar;

    &__img {
        display: block;
        width: 100%;
        max-height: 28rem;
        object-fit: cover;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
    }

    &__inner {
        border: 1px solid $color-gainsboro;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    &__info {
        padding: 3rem 3.3rem 2.8rem 3.3rem;
        border-bottom: 1px solid $color-gainsboro;
    }

    &__title {
        margin: 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        color: $color-eclipse;
    }

    &__advantages {
        margin-top: 1.4rem;
        font-size: 1.6rem;
    }

    &__text {
        margin: 0;
        padding: 2.5rem 3.3rem 3.5rem 3.3rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13.6rem;
        height: 4.4rem;
        margin: 0 auto;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.6rem;
        color: $color-white;
        background-color: $color-orange;
    }
}
// directions end
// subcsribe strat
.subcsribe {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
    background-image: url("../images/subcsribe-bg.jpg");

    &__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2.6rem;
        text-align: center;
        @include breakpoint($mobile-width) {
            font-size: 2rem;
        }
    }

    &__subtitle-text {
        margin-top: 0;
        margin-bottom: 4rem;
        font-size: 2rem;
        text-align: center;
        @include breakpoint($mobile-width) {
            margin-bottom: 4.5rem;
            font-size: 1.5rem;
        }
    }

    &-form {
        display: flex;
        justify-content: space-around;
        @include breakpoint($mobile-width) {
            flex-direction: column;
            align-items: center;
        }

        &__email {
            position: relative;
            @include breakpoint($mobile-width) {
                margin-bottom: 2rem;
            }

            &::before {
                width: 6.3rem;
                height: 6rem;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-orange;
                background-image: url("../images/subcsribe-icon.png");
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .subcsribe-form__email,
        .subcsribe-form-btn {
            max-width: 32rem;
            width: 80%;
            @include breakpoint($mobile-width) {
                max-width: $mobile-width;
            }
        }

        .subcsribe-form__input {
            width: 100%;
            padding: 1.5rem 2.2rem 1.5rem 8.2rem;
            border: none;
            border-radius: 4px;
            font-family: $CenturyGothic-regular;
            font-size: 1.4rem;
            line-height: 3rem;
            color: $color-charcoal;
        }

        .subcsribe-form-btn {
            min-height: 6rem;
            padding: 1.5rem 2.2rem;
            font-family: $CenturyGothic-semiBold;
            font-size: 1.8rem;
            color: $color-white;
            background-color: $color-orange;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 15px 0px $color-orange;
            }
        }
    }
}

.subscribe__inner {
    max-width: 78rem;
    margin: 0 auto;
}
//subcsribe end
// reviews start
.reviews {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.reviews-slider-wrapper {
    max-width: 79rem;
    margin: 6.5rem auto;
    position: relative;
}

.reviews-slider {
    box-shadow: 2px 3.464px 5px 0px rgba(0, 1, 0, 0.2);

    &__item {
        outline: none;
    }

    &__image {
        max-width: 27.9rem;
        border-radius: 9px;
        object-fit: cover;

        @include breakpoint($mobile-width) {
            width: 100%;
            max-width: 100%;
            max-height: 25rem;
        }
    }

    &__inner {
        width: 100%;
        padding: 3.4rem 4.5rem 7.4rem 2rem;
        position: relative;

        @include breakpoint($mobile-width) {
            padding-left: 2rem;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        line-height: 1;
        color: $color-charcoal-light;
    }

    &__comment {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: $CenturyGothic-regular;
        font-size: 1.4rem;
        line-height: 1.5;
        color: $color-charcoal;
    }

    &__link {
        padding: 1.6rem 4.4rem;
        border-radius: 22px;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.4rem;
        line-height: 1.2rem;
        color: $color-white;
        position: absolute;
        bottom: 2.7rem;
        right: 4.5rem;
        background-color: $color-orange;
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: 0px 0px 15px 0px $color-carrot-orange;
        }
    }

    .slick-slide {
        display: flex;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    .slick-arrow {
        width: 5.6rem;
        height: 5.6rem;
        border: 1px solid $color-gainsboro-light;
        font-size: 2rem;
        color: $color-charcoal;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: transparent;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: $color-orange;
            color: $color-white;
            background-color: $color-orange;
        }
    }

    .slick-next {
        right: -11.5rem;

        @include breakpoint($laptop-width) {
            right: -8.5rem;
        }
    }

    .slick-prev {
        left: -11.5rem;

        @include breakpoint($laptop-width) {
            left: -8.5rem;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;
        position: absolute;
    }

    .slick-dots li {
        list-style-type: none;
    }

    .slick-dots li + li {
        margin-left: 1rem;
    }

    .slick-dots li button {
        font-size: 0;
        width: 2rem;
        height: 2rem;
        border: 1px solid $color-orange;
        border-radius: 50%;
        background: $color-white;
        outline: transparent;
    }

    .slick-dots li.slick-active button {
        background: $color-orange;
    }
}
// reviews end
// contacts start
.contacts {
    padding-top: 5rem;

    @include breakpoint($mobile-width) {
        padding-top: 2rem;
    }

    &__wrapper {
        position: relative;
    }
}

.contacts-map {
    height: 100%;
    width: 100%;
    max-width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint($tablet-width) {
        max-width: 100%;
        height: 43rem;
    }

    &__frame {
        width: 100%;
        height: 100%;
    }
}

.contacts-info {
    padding-bottom: 9.5rem;
    color: $color-charcoal;

    @include breakpoint($tablet-width) {
        padding-bottom: 46rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2.1rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2.4rem;
        position: relative;

        @include breakpoint($mobile-width) {
            font-size: 1.6rem;
        }

        &::before {
            width: 12.9rem;
            height: 0.1rem;
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $color-orange;
        }
    }

    &__comunication-list {
        margin-top: 4rem;
        margin-bottom: 5.5rem;
    }

    &__comunication-item {
        list-style: none;
        padding-left: 7.1rem;
        font-family: $CenturyGothic-regular;
        font-size: 2.2rem;
        line-height: 4.5rem;
        position: relative;

        @include breakpoint($mobile-width) {
            font-size: 1.4rem;
        }

        & + & {
            margin-top: 2.6rem;
        }

        &::before {
            width: 4.5rem;
            height: 4.5rem;
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-orange;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &__adress::before {
        background-image: url("../images/contacts-icon-map.png");
    }

    &__number::before {
        background-image: url("../images/contacts-icon-phone.png");
    }

    &__email::before {
        background-image: url("../images/contacts-icon-message.png");
    }

    &__comunication-link {
        color: $color-charcoal;
    }

    &__social-list {
        display: flex;
        list-style: none;
        margin-top: 4.1rem;
    }

    &__social-item + .contacts-info__social-item {
        margin-left: 1rem;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.2rem;
        height: 4.2rem;
        font-size: 2.8rem;
        color: $color-charcoal;
        background-color: $color-white-smoke;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-white;
            background-color: $color-orange;
        }
    }
}
// contacts end
// footer start
.footer {
    padding: 3rem 0;
    background-color: $color-black-pearl;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-size: 1.8rem;

    @include breakpoint($mobile-width) {
        font-size: 1.3rem;
    }
}

.footer-socials {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        & + & {
            margin-left: 2rem;
        }
    }

    &__link {
        display: inline-block;
        font-size: 2.8rem;
        color: $color-gainsboro;
        transition: all 0.3s ease-in-out;
        @include breakpoint($mobile-width) {
            font-size: 1.8rem;
        }

        &:hover {
            color: $color-orange;
        }
    }

    &__link-text {
        font-size: 0;
    }
}

// footer end
// back-to-top start
.back-to-top {
    padding: .55rem .9rem .85rem .9rem;
    border: 1px solid $color-orange;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 100;
    background-color: $color-white;

    &__icon {
        fill: $color-orange;
    }
}
// back-to-top end
