@import "vars";
@import "mixins";
@import "global";
@import "fonts";

// header start
.header {
    background-image: url("../images/header-bg.jpg");
    min-height: 100vh;
    padding: 4rem 0 21rem 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        list-style: none;
    }

    &__list-item {
        & + & {
            margin-left: 2.8rem;
        }
    }

    &__list-link {
        padding: 1.1rem 2.1rem;
        border: 1px solid transparent;
        border-radius: 1.7rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.4rem;
        color: $color-white;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: $color-white;
        }
    }
}

.logo {
    padding: 1.8rem 3.6rem 1.8rem 1.8rem;
    background-color: $orange;

    &__slogan {
        font-family: $Roboto-black;
        font-size: 3.3rem;
        text-transform: uppercase;
    }
}

.btn-burger-menu {
    display: none;
    font-size: 3rem;
    color: $color-white;

    &:hover {
        color: $orange;
    }
}

.header__content {
    padding: 15rem 0;
}

.header__title {
    margin: 0 0 7.5rem 0;
    font-family: $Impact-regular;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 1px rgb(150, 78, 78);
}

.header__tour-link-wrapper {
    display: flex;
    justify-content: center;
}

.header__tour-link {
    padding: 1.7rem 10.3rem 1.7rem;
    border-radius: 36px;
    font-family: $CenturyGothic-semiBold;
    font-size: 2.8rem;
    color: $color-white;
    background-color: $orange;
    transition: all 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 30px 0px $orange;
    }
}
// header end
// travels start
.travels {
    padding-bottom: 4rem;

    &__title {
        margin: 3rem 0;
    }

    &__title::before {
        display: none;
    }

    &__title-text {
        padding-right: 4rem;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            right: 0rem;
            width: 2.5rem;
            height: 3.5rem;
            background-image: url("../images/travels-title-icon.png");
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;

        @include breakpoint($tablet-width) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.travels-item {
    position: relative;

    &__img {
        display: block;
        width: 100%;
        max-height: 28rem;
        object-fit: cover;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }

    &__inner {
        padding: 3.3rem;
        border: 1px solid #dedede;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 1.8rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        color: #383838;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $orange;
        }
    }

    &__advantages {
        margin-top: 3.5rem;
        font-family: $CenturyGothic-regular;
        font-size: 1.6rem;
        color: $color-black;
    }

    &__advantages-item {
        display: flex;
        align-items: center;
        position: relative;

        & + & {
            margin-top: 1.6rem;
        }
    }

    &__advantages-item-icon {
        margin-right: 1.7rem;
    }

    &__price {
        width: 10.1rem;
        height: 6.4rem;
        padding-top: 2rem;
        padding-left: 1.8rem;
        border-radius: 100% 0 9px 100% / 100% 100% 9px 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.6rem;
        line-height: 1.2;
        text-align: center;
        color: $color-white;
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #f35a33;
    }

    &__price-info {
        font-family: $CenturyGothic-regular;
        font-size: 1.1rem;
    }
}

.travels__filter {
    margin-top: -21rem;
    border-radius: 10px;
    padding: 2.9rem 3.1rem 6.3rem 3.1rem;
    width: 100%;
    min-height: 23.8rem;
    background-color: $color-white;
    box-shadow: 0px 5px 5px 0px rgba(20, 20, 20, 0.15);

    @include breakpoint($laptop-width) {
        padding: 2rem 2.1rem 3.1rem 2.1rem;
    }

    &-link {
        font-size: 1.6rem;
        color: #c0c0c0;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        & + .travels__filter-link {
            margin-left: 5.2rem;
        }

        &:hover {
            color: #fd6f3d;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 6rem;
    }

    &-item {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;

        .jq-selectbox__select,
        input[type="text"] {
            height: 5rem;
            line-height: 4.8rem;
            width: 100%;
            padding: 0rem 3rem 0rem 1.5rem;
            border: 1px solid #eaeaea;
            border-bottom-color: #eaeaea;
            border-radius: 3px;
            background: $color-white;
            box-shadow: none;
            font-family: "Century Gothic Regular";
            font-size: 1.4rem;
            color: #505050;
            text-shadow: none;
        }

        .jq-selectbox {
            ul {
                width: 100%;
            }

            li {
                display: block;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: $orange;
                }
            }
        }

        label {
            font-family: "Century Gothic Regular";
            font-size: 1.4rem;
            color: #a4a4a4;
            margin-bottom: 1.4rem;
        }

        .jq-selectbox__trigger {
            border-left: none;
        }

        .jq-selectbox__trigger-arrow {
            right: 2rem;
            top: 2rem;
        }

        &.filter-item__from {
            width: 15.8rem;
        }

        &.filter-item__to {
            width: 27.3rem;
        }

        &.filter-item__date {
            position: relative;
            width: 15.2rem;

            span {
                width: 1.7rem;
                height: 1.7rem;
                cursor: pointer;
                position: absolute;
                right: 1.6rem;
                top: 4.6rem;
                background-image: url("../images/filter-icon-calendar.png");
            }
        }

        &.filter-item__days {
            width: 18.8rem;

            .jq-selectbox__select {
                font-size: 1.8rem;
                width: 6.5rem;
            }

            .item__days-count {
                span {
                    color: #505050;
                    font-size: 1.4rem;
                }
            }

            .jq-selectbox__trigger-arrow {
                right: 1.2rem;
            }
        }
    }

    &-btn {
        margin-top: 2.8rem;
        font-family: "Century Gothic Bold";
        font-size: 1.8rem;
        color: $color-white;
        width: 19.5rem;
        height: 4.9rem;
        cursor: pointer;
        border: none;
        border-radius: 23px;
        background-color: $orange;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 15px 0px #f27019;
        }
    }
}

// travels end

// services start
.services {
    padding: 4rem 0 4rem;
}

.services-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding: 5.4rem 0;
    @include breakpoint($tablet-width) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($mobile-width) {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24.9rem;
    background-color: rgba(0, 0, 0, 0.471);
    background-blend-mode: darken;
    transition: all 0.3s ease-in-out;

    &.services-item--flights {
        background-image: url("../images/services-item1.jpg");
    }

    &.services-item--insurance {
        background-image: url("../images/services-item2.jpg");
    }

    &.services-item--travelSIM {
        background-image: url("../images/services-item3.jpg");
    }

    &.services-item--visaSupport {
        background-image: url("../images/services-item4.jpg");
    }

    &__title {
        font-size: 3rem;
        text-align: center;
        color: $color-white;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-color: transparent;

        .services-item__title {
            color: $orange;
        }
    }
}

// services end
// feedback start
.feedback {
    padding: 6rem 0 7rem;
    background-color: $orange;

    @include breakpoint($mobile-width) {
        padding: 4rem 0 5rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 2rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 3rem;
        text-align: center;

        @include breakpoint($mobile-width) {
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    }

    &__subtitle-text {
        margin-top: 0;
        margin-bottom: 4.5rem;
        font-size: 2rem;
        text-align: center;

        @include breakpoint($mobile-width) {
            margin-bottom: 2.5rem;
            font-size: 1.6rem;
        }
    }
}

.feedback-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    border-radius: 9px;
    background-color: $color-white;

    @include breakpoint($tablet-width) {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @include breakpoint($mobile-width) {
        padding: 2rem;
    }

    &__name,
    &__phone {
        width: 27%;
        position: relative;

        @include breakpoint($tablet-width) {
            width: 40%;
            margin-bottom: 2rem;
        }

        @include breakpoint($mobile-width) {
            width: 100%;
        }

        &::before {
            width: 5.6rem;
            height: 5.6rem;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #e7e7e7;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__name::before {
        background-image: url("../images/feedback-icon-human.png");
    }

    &__phone::before {
        background-image: url("../images/feedback-icon-phone.png");
    }

    &__input {
        width: 100%;
        padding: 1.2rem 2.2rem 1.2rem 7.6rem;
        border: 1px solid #dedede;
        border-radius: 4px;
        font-size: 1.6rem;
        line-height: 3rem;
        color: #474747;
        outline: transparent;
    }
}

.feedback-form-btn {
    width: 27%;
    padding: 1.8rem;
    border-radius: 31px;
    font-family: $CenturyGothic-semiBold;
    font-size: 2rem;
    line-height: 1;
    color: $color-white;
    background-color: $orange;

    @include breakpoint($tablet-width) {
        max-width: 29rem;
        width: 100%;
    }

    @include breakpoint($mobile-width) {
        max-width: 100%;
    }

    &:hover {
        box-shadow: 0px 0px 15px 0px $orange;
    }
}
// feedback end
// directions start
.directions {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include breakpoint($mobile-width) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.5rem;
        margin-top: 6rem;

        @include breakpoint($tablet-width) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint($mobile-width) {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 3rem;
        }
    }
}

.directions-item {
    font-family: $CenturyGothic-regular;
    color: #525252;

    &__img {
        display: block;
        width: 100%;
        max-height: 28rem;
        object-fit: cover;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
    }

    &__inner {
        border: 1px solid #dedede;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
    }

    &__info {
        padding: 3rem 3.3rem 2.8rem 3.3rem;
        border-bottom: 1px solid #dedede;
    }

    &__title {
        margin: 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        color: #383838;
    }

    &__advantages {
        margin-top: 1.4rem;
        font-size: 1.6rem;
    }

    &__text {
        margin: 0;
        padding: 2.5rem 3.3rem 3.5rem 3.3rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13.6rem;
        height: 4.4rem;
        margin: 0 auto;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.6rem;
        color: $color-white;
        background-color: $orange;
    }
}
// directions end
// subcsribe strat
.subcsribe {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
    background-image: url("../images/subcsribe-bg.jpg");

    &__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2.6rem;
        text-align: center;
        @include breakpoint($mobile-width) {
            font-size: 2rem;
        }
    }

    &__subtitle-text {
        margin-top: 0;
        margin-bottom: 4rem;
        font-size: 2rem;
        text-align: center;
        @include breakpoint($mobile-width) {
            margin-bottom: 4.5rem;
            font-size: 1.5rem;
        }
    }

    &-form {
        display: flex;
        justify-content: space-around;
        @include breakpoint($mobile-width) {
            flex-direction: column;
            align-items: center;
        }

        &__email {
            position: relative;
            @include breakpoint($mobile-width) {
                margin-bottom: 2rem;
            }

            &::before {
                width: 6.3rem;
                height: 6rem;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: $orange;
                background-image: url("../images/subcsribe-icon.png");
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .subcsribe-form__email,
        .subcsribe-form-btn {
            max-width: 32rem;
            width: 80%;
            @include breakpoint($mobile-width) {
                max-width: $mobile-width;
            }
        }

        .subcsribe-form__input {
            width: 100%;
            padding: 1.5rem 2.2rem 1.5rem 8.2rem;
            border: none;
            border-radius: 4px;
            font-family: $CenturyGothic-regular;
            font-size: 1.4rem;
            line-height: 3rem;
            color: #444444;
        }

        .subcsribe-form-btn {
            min-height: 6rem;
            padding: 1.5rem 2.2rem;
            font-family: $CenturyGothic-semiBold;
            font-size: 1.8rem;
            color: $color-white;
            background-color: $orange;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 15px 0px $orange;
            }
        }
    }
}

.subscribe__inner {
    max-width: 78rem;
    margin: 0 auto;
}
//subcsribe end
// reviews start
.reviews {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.reviews-slider-wrapper {
    max-width: 79rem;
    margin: 6.5rem auto;
    position: relative;
}

.reviews-slider {
    box-shadow: 2px 3.464px 5px 0px rgba(0, 1, 0, 0.2);
    
    &__item {
        line-height: 2.4rem;
    }

    &__image {
        max-width: 27.9rem;
        border-radius: 9px;
        object-fit: cover;

        @include breakpoint($mobile-width) {
            width: 100%;
            max-width: 100%;
            max-height: 25rem;
        }
    }

    &__inner {
        width: 100%;
        padding: 3.4rem 4.5rem 3.4rem 2rem;
        position: relative;

        
        @include breakpoint($mobile-width) {
            padding-left: 2rem;
        }
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        font-family: $CenturyGothic-semiBold;
        font-size: 2rem;
        line-height: 1;
        color: #4d4d4d;
    }

    &__comment {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: $CenturyGothic-regular;
        font-size: 1.4rem;
        color: #444444;
    }

    &__link-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        padding: 1.6rem 4.4rem;
        border-radius: 22px;
        font-family: $CenturyGothic-semiBold;
        font-size: 1.4rem;
        line-height: 1.2rem;
        color: $color-white;
        background-color: $orange;
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: 0px 0px 15px 0px #f27019;
        }
    }

    .slick-slide {
        display: flex;

        @include breakpoint($mobile-width) {
            flex-direction: column;
        }
    }

    .slick-arrow {
        width: 5.6rem;
        height: 5.6rem;
        border: 1px solid #e7e7e7;
        font-size: 2rem;
        color: #404040;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background-color: transparent;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            border-color: $orange;
            color: $color-white;
            background-color: $orange;
        }
    }

    .slick-next {
        right: -11.5rem;

        @include breakpoint($laptop-width) {
            right: -8.5rem;
        }
    }

    .slick-prev {
        left: -11.5rem;

        @include breakpoint($laptop-width) {
            left: -8.5rem;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;
        position: absolute;
    }

    .slick-dots li {
        list-style-type: none;
    }

    .slick-dots li + li {
        margin-left: 1rem;
    }

    .slick-dots li button{
        font-size: 0;
        width: 2rem;
        height: 2rem;
        border: 1px solid $orange;
        border-radius: 50%;
        background: $color-white;
        outline: transparent;
    }

    .slick-dots li.slick-active button {
        background: $orange;
    }
}
// reviews end
// contacts start
.contacts {
    padding-top: 5rem;

    @include breakpoint($mobile-width) {
        padding-top: 2rem;
    }

    &__wrapper {
        position: relative;
    }
}

.contacts-map {
    height: 100%;
    width: 100%;
    max-width: 60%;
    position: absolute;
    bottom: 0;
    right: 0;

    @include breakpoint($tablet-width) {
        max-width: 100%;
        height: 43rem;
    }

    &__frame {
        width: 100%;
        height: 100%;
    }
}

.contacts-info {
    padding-bottom: 9.5rem;
    color: #444444;

    @include breakpoint($tablet-width) {
        padding-bottom: 46rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2.1rem;
        font-family: $CenturyGothic-semiBold;
        font-size: 2.4rem;
        position: relative;

        @include breakpoint($mobile-width) {
            font-size: 1.6rem;
        }

        &::before {
            width: 12.9rem;
            height: 0.1rem;
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $orange;
        }
    }

    &__comunication-list {
        margin-top: 4rem;
        margin-bottom: 5.5rem;
    }

    &__comunication-item {
        list-style: none;
        padding-left: 7.1rem;
        font-family: $CenturyGothic-regular;
        font-size: 2.2rem;
        line-height: 4.5rem;
        position: relative;

        @include breakpoint($mobile-width) {
            font-size: 1.4rem;
        }

        & + & {
            margin-top: 2.6rem;
        }

        &::before {
            width: 4.5rem;
            height: 4.5rem;
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            background-color: $orange;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &__adress::before {
        background-image: url("../images/contacts-icon-map.png");
    }

    &__number::before {
        background-image: url("../images/contacts-icon-phone.png");
    }

    &__email::before {
        background-image: url("../images/contacts-icon-message.png");
    }

    &__comunication-link {
        color: #444444;
    }

    &__social-list {
        display: flex;
        list-style: none;
        margin-top: 4.1rem;
    }

    &__social-item + .contacts-info__social-item {
        margin-left: 1rem;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.2rem;
        height: 4.2rem;
        font-size: 2.8rem;
        color: #444444;
        background-color: #f1f1f1;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-white;
            background-color: $orange;
        }
    }
}
// contacts end
// footer start
.footer {
    padding: 3rem 0;
    background-color: #171b22;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    font-size: 1.8rem;

    @include breakpoint($mobile-width) {
        font-size: 1.3rem;
    }
}

.footer-socials {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__item {
        & + & {
            margin-left: 2rem;
        }
    }

    &__link {
        display: inline-block;
        font-size: 2.8rem;
        color: #dedede;
        transition: all 0.3s ease-in-out;
        @include breakpoint($mobile-width) {
            font-size: 1.8rem;
        }

        &:hover {
            color: $orange;
        }
    }

    &__link-text {
        font-size: 0;
    }
}

// footer end
